{% extends "blog/base.html" %}

{% block content %}
    {% for vehicle in vehicles %}
        <article class="media content-section">
            <img class="rounded vehicle-img" src="{{ vehicle.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <h5><a class="mr-2" href="{% url 'vehicle-detail' vehicle.id %}">{{ vehicle.name }}</a></h5>
                </div>
                <h6><p class="article-title">{{ vehicle.description }}</p></h6>
            </div>
        </article>
    {% endfor %}
{% endblock content %}